/* Optional: Global styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #e6e6e6;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
